

.LogindivStyle{
    /* d-flex  */
    text-align: center;
    position:relative;
    font-weight: bold;
    justify-content: center ;
    align-items :center ;
    font-size: vh-200;
}

.LoginimgBox{
  width: 100%;
  height: 100%;
  margin-top: -20px;
  opacity: 20;

}

.LoginmainDiv{
    position: absolute;
    margin-top: -29%;
    align-content: center;
     /* top : 45%; */
    left: 50%;
    width: 50%;
    height: 100vh;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 10px;

 
}

.Loginheading{
    font-weight: bold;
    color: white;
    padding-top: -10%;
    margin: 0;
    padding-bottom: 30px;

}

.LoginBtn{
    background-color: #FC46AA;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    height: 34px;
    margin-bottom: 5px;
}

.LoginBtn:hover{
    background-color:#770737
}

input[type="text"],  select{
    width: 60%;
    height: 34px;
    background-color: white;
    border: none
}

input[type="password"]{
    padding-left: 20px;
    border: none;
    width: 57%;
    height: 34px;
    background-color: white;
}

.Logineyebtn{
    border: none;
    height: 34px;
    background-color: white;
}

.LoginlabelName{
    padding: 9px;
    font-size: 19px;
    color: white;
    word-spacing: 9px;
    align-content: left;
    /* background-color: blue; */
}

h6{
    color: white;
}

.forgetFont{
    color: rgb(60, 188, 238);
}

.forgetFont:hover{
    color: #FC46AA
}

.iconimg{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 30px;
 
}

.IconDiv{
    display: flex;
    align-items: center;
    background-color: white;
    width: 60%;
    height: 34px; 
    
    border: none;
    margin-left: 20%; 
    font-size: 15px;
    /* padding-left: 50px; */
    /* width: 50%;
    height: 34px; */
    margin-bottom: 5px;
    justify-content: center;

    
}

.Googletext{
    padding-top: 12px;
    color: black;
    padding-left: 30px;
    margin-right: 10px;

}

.GoogleBtn{
    background-color: white;
    color: black;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    width: 50%;
    height: 34px;
    margin-bottom: 5px;  
}

.GoogleBtn:hover{
    background-color:#770737;
    color: white;
}

.LoginPassOptions{
    color: white;
    /* background-color: black; */
    border: none;
    align-content: center;
    text-align: center;
    margin-top: -20px;

}


.LoginPassOptions ul{
    list-style-type: none;
  
}

.LoginPassOptions li{
    display: flex;
    align-items: center;
    margin-left: 30%;

}

.LoginPassOptions li span {
    margin-left: 10px;
    font-size: medium;  
}

.LoginerrorText{
    color: red;
    font-size: 12px;
}

